html {
    background: #2BBD82;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

body {
    max-width: 90%;
}

@media all and (min-width: 1024px) {
    body {
        max-width: 60%;
    }
}

p, h1, h2 {
    color: #eee;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

a, a:hover, a:active {
    color: #eee;
    text-decoration: none;
}

.social {
    font-size: 2rem;
}

.social a {
    margin: auto .25rem;
}

@media all and (min-width: 1024px) {
    .social a {
        margin: auto 1rem;
    }
}

.youtube-video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.youtube-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
